### Opiod Overdose Predictions
This notebook is an exploration of whether opiod sales can predict deaths by opiod overdose.

In [ ]:
test commit

In [11]:
import pandas as pd

In [37]:
# Import the necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

def make_model():
    df = pd.read_csv('data/SalesDeaths.csv')

    # Separate the features and labels
    X = df[['Fips', 'TimeFrame','OxycodoneSalesData']]  # + [col for col in df_encoded.columns if col.startswith('Location_')]]
    y = df[['DeathsData']]
    #'HydrocodoneSalesData',

    # Split the data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=47)

    # Initialize the Linear Regression model
    model = LinearRegression()

    # Fit the model to your training data
    model.fit(X_train, y_train)

    # Make predictions on the test set
    y_pred = model.predict(X_test)

    # Create a DataFrame to compare the actual values with the predicted values
    comparison_df = pd.DataFrame({'Actual': y_test.values.flatten(), 'Predicted': y_pred.flatten()})

    merged = X_test.merge(df, on = ['Fips','TimeFrame'])
    merged = merged[["TimeFrame","Location", "OxycodoneSalesData_x"]]
    #"HydrocodoneSalesData_x"
    
    #Add the new 'id' column with incremental values
    merged['id'] = range(1, len(merged) + 1)

 #Add the new 'id' column with incremental values
    comparison_df['id'] = range(1, len(comparison_df) + 1)
    merged2 = comparison_df.merge(merged,on='id')
    merged2 = merged2[['id','TimeFrame','Location','OxycodoneSalesData_x','Actual','Predicted']]
    merged2['diff'] = merged2['Actual'] - merged2['Predicted']
    
    #HydrocodoneSalesData_x'
    return merged2
make_model()

,id,TimeFrame,Location,OxycodoneSalesData_x,Actual,Predicted,diff
0,1,2007,Oklahoma,19.26904,13.89650,8.564004,5.332496
1,2,2015,Nebraska,9.66823,3.09116,10.899732,-7.808572
2,3,2018,Virginia,12.56330,14.25817,14.475524,-0.217354
3,4,2007,Kansas,13.93383,4.35444,6.290170,-1.935730
4,5,2015,Iowa,8.59927,5.78924,9.882943,-4.093703
...,...,...,...,...,...,...,...
182,183,2009,North Carolina,23.07240,9.12544,10.106366,-0.980926
183,184,2016,Connecticut,22.08360,24.47231,11.945112,12.527198
184,185,2003,Arizona,15.39839,6.44398,3.139232,3.304748
185,186,2011,Utah,23.38377,14.57733,12.132789,2.444541
186,187,2005,Missouri,22.33051,5.30296,7.157518,-1.854558

In [35]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

df = pd.read_csv('data/SalesDeaths.csv')

    # Separate the features and labels
X = df[['Fips', 'TimeFrame', 'OxycodoneSalesData']]  # + [col for col in df_encoded.columns if col.startswith('Location_')]]
y = df[['DeathsData']]
#'HydrocodoneSalesData',
    # Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=47)

    # Initialize the Linear Regression model
model = LinearRegression()

    # Fit the model to your training data
model.fit(X_train, y_train)

    # Make predictions on the test set
y_pred = model.predict(X_test)
    
    # Step 4: Evaluate the predictions using metrics
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Step 5: Print the evaluation results
print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("Mean Absolute Error (MAE):", mae)
print("R-squared (R2) score:", r2)

Mean Squared Error (MSE): 28.82008742734085
Root Mean Squared Error (RMSE): 5.368434355316348
Mean Absolute Error (MAE): 3.7558458157141383
R-squared (R2) score: 0.2895943486093061

In [43]:
df = make_model()
df["actual_count"] = df["Actual"] * 300
df["predicted_count"] = df["Predicted"] * 300
df.query("diff < 1.25  & diff < -1.25")

,id,TimeFrame,Location,OxycodoneSalesData_x,Actual,Predicted,diff,actual_count,predicted_count
1,2,2015,Nebraska,9.66823,3.09116,10.899732,-7.808572,927.348,3269.919496
3,4,2007,Kansas,13.93383,4.35444,6.290170,-1.935730,1306.332,1887.050895
4,5,2015,Iowa,8.59927,5.78924,9.882943,-4.093703,1736.772,2964.882994
5,6,2007,Tennessee,25.31596,7.76144,10.041059,-2.279619,2328.432,3012.317693
6,7,2000,West Virginia,10.73888,2.81527,4.190815,-1.375545,844.581,1257.244389
...,...,...,...,...,...,...,...,...,...
177,178,2017,Washington,17.28316,9.64045,14.818665,-5.178215,2892.135,4445.599447
178,179,2012,Nebraska,9.07589,3.02094,9.103523,-6.082583,906.282,2731.056818
179,180,2016,Idaho,16.25012,7.44855,11.485835,-4.037285,2234.565,3445.750537
181,182,2017,North Dakota,8.70448,4.79970,12.367260,-7.567560,1439.910,3710.178145
186,187,2005,Missouri,22.33051,5.30296,7.157518,-1.854558,1590.888,2147.255456

In [46]:
import pandas as pd

df = make_model()
# Create a sample DataFrame
#data = {'Values': [10, 20, 30, 40, 50]}
#df = pd.DataFrame(data)

# Query for values in the range of 20 to 40
result = df[(df['diff'] >= -2.25) & (df['diff'] <= 2.25)]

result

,id,TimeFrame,Location,OxycodoneSalesData_x,Actual,Predicted,diff
2,3,2018,Virginia,12.56330,14.25817,14.475524,-0.217354
3,4,2007,Kansas,13.93383,4.35444,6.290170,-1.935730
6,7,2000,West Virginia,10.73888,2.81527,4.190815,-1.375545
8,9,2009,California,12.43062,5.22915,6.195288,-0.966138
9,10,2014,Tennessee,35.66464,13.44431,15.693631,-2.249321
...,...,...,...,...,...,...,...
175,176,2011,Oklahoma,22.29180,13.00133,11.322891,1.678439
176,177,2008,Massachusetts,19.04295,9.10081,8.040505,1.060305
180,181,2013,Michigan,13.74408,9.38539,10.079857,-0.694467
182,183,2009,North Carolina,23.07240,9.12544,10.106366,-0.980926
186,187,2005,Missouri,22.33051,5.30296,7.157518,-1.854558

In [47]:
result.groupby("Location").count()

,id,TimeFrame,OxycodoneSalesData_x,Actual,Predicted,diff
Location,,,,,,
Alabama,3,3,3,3,3,3
Alaska,2,2,2,2,2,2
Arizona,2,2,2,2,2,2
California,3,3,3,3,3,3
Colorado,5,5,5,5,5,5
Connecticut,1,1,1,1,1,1
Delaware,1,1,1,1,1,1
Dist. of Columbia,2,2,2,2,2,2
Illinois,2,2,2,2,2,2
Indiana,2,2,2,2,2,2
Kansas,3,3,3,3,3,3
Kentucky,1,1,1,1,1,1
Louisiana,1,1,1,1,1,1
Maryland,2,2,2,2,2,2
Massachusetts,2,2,2,2,2,2
Michigan,4,4,4,4,4,4
Minnesota,1,1,1,1,1,1
Missouri,5,5,5,5,5,5
Montana,4,4,4,4,4,4
Nevada,4,4,4,4,4,4
New Hampshire,3,3,3,3,3,3
New Mexico,1,1,1,1,1,1
New York,1,1,1,1,1,1
North Carolina,2,2,2,2,2,2
Ohio,3,3,3,3,3,3
Oklahoma,1,1,1,1,1,1
Oregon,2,2,2,2,2,2
Pennsylvania,1,1,1,1,1,1
South Carolina,2,2,2,2,2,2
Tennessee,1,1,1,1,1,1
Texas,1,1,1,1,1,1
Vermont,2,2,2,2,2,2
Virginia,3,3,3,3,3,3
Washington,3,3,3,3,3,3
West Virginia,1,1,1,1,1,1
Wisconsin,1,1,1,1,1,1
Wyoming,1,1,1,1,1,1