In [1]:
import pandas as pd

In [3]:
#function for oxy sales
def make_sales_oxy():
    '''function to make df for sales data'''
    sales = pd.read_csv("https://raw.githubusercontent.com/VallieTracy/opioids_project/master/Resources/opioidPrescriptionSales.csv")
    sales['Type'] = sales['Oxycodone / Hydrocodone'].str.replace('/', '')
    sales = sales[["Fips", "Location","TimeFrame","Type", "Data", ]]
    sales=sales.query("Type == 'Oxycodone'")
    sales = sales.rename(columns={"Data":"OxycodoneSalesData"})
    return sales
make_sales_oxy()

# function for oxy sales
def make_sales_hydro():
    '''function to make df for sales data'''
    sales = pd.read_csv("https://raw.githubusercontent.com/VallieTracy/opioids_project/master/Resources/opioidPrescriptionSales.csv")
    sales['Type'] = sales['Oxycodone / Hydrocodone'].str.replace('/', '')
    sales = sales[["Fips", "Location","TimeFrame","Type", "Data", ]]
    sales= sales.query("Type == 'Hydrocodone'")
    sales=sales.query("Type == 'Hydrocodone'")
    sales = sales.rename(columns={"Data":"HydrocodoneSalesData"})
    return sales
make_sales_hydro()

# function to combine sales
def combo_sales():
    df1 = make_sales_oxy()
    df2 = make_sales_hydro()
    merged = df1.merge(df2,left_on=['Fips','Location','TimeFrame'], right_on=['Fips','Location','TimeFrame'])
    merged = merged[['Fips','Location','TimeFrame','OxycodoneSalesData','HydrocodoneSalesData']]
    return merged
combo_sales()

# function for deaths
def make_deaths():
    '''function to make df for deaths data'''
    deaths = pd.read_csv("https://raw.githubusercontent.com/VallieTracy/opioids_project/master/Resources/drugPoisoningDeaths.csv")
    deaths = deaths[["Fips", "Location","TimeFrame","Drug Type", "Data", ]]
    deaths= deaths.query("`Drug Type` == 'All opioids'")
    deaths = deaths.rename(columns={"Data":"DeathsData"})
    deaths = deaths.rename(columns={"Drug Type":"ODType"})
    return deaths
make_deaths()


# function to combine all data
def make_merge():
    '''function to combine death and sales data'''
    sales = combo_sales()
    deaths = make_deaths()
    #merged = deaths.merge(sales, on="Fips")
    merged= pd.merge(deaths, sales, left_on=['Fips','Location', 'TimeFrame'], right_on=['Fips','Location', 'TimeFrame'])
    merged = merged[['Fips','Location','TimeFrame','OxycodoneSalesData','HydrocodoneSalesData','DeathsData']]
    merged = merged.dropna()

    return merged
make_merge()

,Fips,Location,TimeFrame,OxycodoneSalesData,HydrocodoneSalesData,DeathsData
0,1,Alabama,2000,6.74399,10.69559,0.98993
1,1,Alabama,2001,7.79399,11.35396,1.29709
2,1,Alabama,2002,7.80123,12.81029,1.61198
3,1,Alabama,2003,9.26128,15.48852,1.10769
4,1,Alabama,2004,9.10411,15.82898,1.84700
...,...,...,...,...,...,...
964,56,Wyoming,2014,20.63788,10.85109,9.29636
965,56,Wyoming,2015,21.83413,10.50396,7.89044
966,56,Wyoming,2016,20.73213,9.55385,8.74569
967,56,Wyoming,2017,18.12706,8.07278,8.73564
968,56,Wyoming,2018,16.12868,6.89577,6.80881

In [7]:
#write to file
df = make_merge()
df.to_csv('data/SalesDeaths.csv')